@import "styles/settings/__settings";

.postCard {
  position: relative;
  color: inherit;
  text-align: left;
  text-decoration: none;
  height: 100%;

  & > a {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      h3 {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }

  .websiteCardWrapper {
    height: 100%;
  }
}

.containerImage {
  position: relative;
  width: 100%;
  height: 100%;

  a {
    display: block;
    height: 100%;

    .WebsiteCardImage{
      width: 100%;
      margin: 0;
    }
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(46,53,61,.81);

  .WebsiteCardLink {
    color: #fff;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
  }
}

.postCardSticky {
  border: solid 0.02em $color-gray-100;
  border-radius: 1em;

  svg {
    position: absolute;
    top: 1.2em;
    right: 1em;
    font-size: 1.15em;
    color: $color-gray-300;
  }
}

.WebsiteCardTitle {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  margin-top: 0;
  left: 0;
  transform: translateY(-50%);
  margin-top: 0;
  right: 0;
  text-align: center;
  padding: 0 30px;
}

.postCardContent {
  font-size: 1.25em;
  margin: 0;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postCardMetadata {
  margin: -0.8em -0.8em 0.4em;
}
