@import "styles/settings/__settings";

.WebsiteArchive {
  margin: 0;
  padding: 0;
}
.archiveDescription {
  text-align: center;
  font-size: 1.1em;
  color: $color-gray-600;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
}

.posts {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  & > li {
    margin: 0;
    width: 25%;

    @media (max-width: 1199px){
      width: 33.33333%;
    }

    @media (max-width: 991px){
      width: 50%;
    }

    @media (max-width: 576px){
      width: 100%;
    }
  }
}
